## Created by Andrey Markelov 11-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<html>
    <head>
        <title>$action.getText("jrole-group-usercf.admin.title")</title>
        <meta name="decorator" content="admin"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:autocomplete")
        $webResourceManager.requireResource("ru.mail.jira.plugins.userpickers:jrole-group-usercf")
    </head>
    <body class="aui">
        #if($action.hasAdminPermission())
            <input type="hidden" name="atl_token" id="atl_token" value="$action.getXsrfToken()"/>
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                            <table class="jiraform maxWidth">
                                <tr>
                                    <td class="jiraformheader">
                                        <h3 class="formtitle">$action.getText("jrole-group-usercf.linkingfields")</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="grid maxWidth">
                                            <thead>
                                                <tr>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldid")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldname")</th>
                                                    <th width="20%">$action.getText("jrole-group-usercf.cfassociatedprojects")</th>
                                                    <th width="40%">$action.getText("jrole-group-usercf.cfgroupsroles")</th>
                                                    <th width="25%">$action.getText("jrole-group-usercf.cfhighlightedgroupsroles")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfautocompletestatus")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfactions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                #foreach($entry in $action.getSingleFields().entrySet())
                                                    <tr>
                                                        <td width="10%">$entry.key</td>
                                                        <td width="10%">$entry.value.getFieldName()</td>
                                                        <td width="20%">
                                                            #if($entry.value.isAllProjects())${action.getText("jrole-group-usercf.cfallprojects")}
                                                                #else
                                                                    #foreach($proj in $entry.value.getProjects())
                                                                        #if($velocityCount > 1), #end${proj}
                                                                    #end
                                                            #end
                                                        </td>
                                                        <td width="40%">
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfgroups"):</i>
                                                                #foreach($group in $entry.value.getGroups())
                                                                    #if($velocityCount > 1), #end$group
                                                                #end
                                                            </div>
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfroles"):</i>
                                                                #foreach($role in $entry.value.getRoles())
                                                                    #if($velocityCount > 1), #end$action.getProjectMap().get($role.getProject())#if($role.getRole() != "") - $action.getRoleMap().get($role.getRole())#else - $action.getText("jrole-group-usercf.cfallpr")#end
                                                                #end
                                                            </div>
                                                        </td>
                                                        <td width="25%">
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfgroups"):</i>
                                                                #foreach($group in $entry.value.getHighlightedGroups())
                                                                    #if($velocityCount > 1), #end$group
                                                                #end
                                                            </div>
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfroles"):</i>
                                                                #foreach($role in $entry.value.getHighlightedRoles())
                                                                    #if($velocityCount > 1), #end$action.getProjectMap().get($role.getProject())#if($role.getRole() != "") - $action.getRoleMap().get($role.getRole())#else - $action.getText("jrole-group-usercf.cfallpr")#end
                                                                #end
                                                            </div>
                                                        </td>
                                                        <td width="10%">
                                                            #if($entry.value.isAutocomplete())
                                                                <p style="color:#009933">
                                                                    <b>$action.getText("jrole-group-usercf.statuson")</b>
                                                                </p>
                                                                #else
                                                                    <p style="color:#CC0000">
                                                                        <b>$action.getText("jrole-group-usercf.statusoff")</b>
                                                                    </p>
                                                            #end
                                                        </td>
                                                        <td width="10%">
                                                            <a href="#" onclick="configureSingleField(event, '$baseUrl', '$entry.key');">$action.getText("jrole-group-usercf.cfactionconfigure")</a>
                                                        </td>
                                                    </tr>
                                                #end
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="jiraform maxWidth">
                                <tr>
                                    <td class="jiraformheader">
                                        <h3 class="formtitle">$action.getText("jrole-group-usercf.linkingmultifields")</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="grid maxWidth">
                                            <thead>
                                                <tr>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldid")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldname")</th>
                                                    <th width="20%">$action.getText("jrole-group-usercf.cfassociatedprojects")</th>
                                                    <th width="40%">$action.getText("jrole-group-usercf.cfgroupsroles")</th>
                                                    <th width="25%">$action.getText("jrole-group-usercf.cfhighlightedgroupsroles")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfautocompletestatus")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfactions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                #foreach($entry in $action.getMultiFields().entrySet())
                                                    <tr>
                                                        <td width="10%">$entry.key</td>
                                                        <td width="10%">$entry.value.getFieldName()</td>
                                                        <td width="20%">
                                                            #if($entry.value.isAllProjects())${action.getText("jrole-group-usercf.cfallprojects")}
                                                                #else
                                                                    #foreach($proj in $entry.value.getProjects())
                                                                        #if($velocityCount > 1), #end${proj}
                                                                    #end
                                                            #end
                                                        </td>
                                                        <td width="40%">
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfgroups"):</i>
                                                                #foreach($group in $entry.value.getGroups())
                                                                    #if($velocityCount > 1), #end$group
                                                                #end
                                                            </div>
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfroles"):</i>
                                                                #foreach($role in $entry.value.getRoles())
                                                                    #if($velocityCount > 1), #end$action.getProjectMap().get($role.getProject())#if($role.getRole() != "") - $action.getRoleMap().get($role.getRole())#else - $action.getText("jrole-group-usercf.cfallpr")#end
                                                                #end
                                                            </div>
                                                        </td>
                                                        <td width="25%">
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfgroups"):</i>
                                                                #foreach($group in $entry.value.getHighlightedGroups())
                                                                    #if($velocityCount > 1), #end$group
                                                                #end
                                                            </div>
                                                            <div>
                                                                <i>$action.getText("jrole-group-usercf.cfroles"):</i>
                                                                #foreach($role in $entry.value.getHighlightedRoles())
                                                                    #if($velocityCount > 1), #end$action.getProjectMap().get($role.getProject())#if($role.getRole() != "") - $action.getRoleMap().get($role.getRole())#else - $action.getText("jrole-group-usercf.cfallpr")#end
                                                                #end
                                                            </div>
                                                        </td>
                                                        <td width="10%">
                                                            #if($entry.value.isAutocomplete())
                                                                <p style="color:#009933">
                                                                    <b>$action.getText("jrole-group-usercf.statuson")</b>
                                                                </p>
                                                                #else
                                                                    <p style="color:#CC0000">
                                                                        <b>$action.getText("jrole-group-usercf.statusoff")</b>
                                                                    </p>
                                                            #end
                                                        </td>
                                                        <td width="10%">
                                                            <a href="#" onclick="configureSingleField(event, '$baseUrl', '$entry.key');">$action.getText("jrole-group-usercf.cfactionconfigure")</a>
                                                        </td>
                                                    </tr>
                                                #end
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="jiraform maxWidth">
                                <tr>
                                    <td class="jiraformheader">
                                        <h3 class="formtitle">$action.getText("jrole-group-usercf.linkingselfields")</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="grid maxWidth">
                                            <thead>
                                                <tr>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldid")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldname")</th>
                                                    <th width="20%">$action.getText("jrole-group-usercf.cfassociatedprojects")</th>
                                                    <th width="40%">$action.getText("jrole-group-usercf.cfusers")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfautocompletestatus")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfactions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                #foreach($entry in $action.getSingleSelectedFields().entrySet())
                                                    <tr>
                                                        <td width="10%">$entry.key</td>
                                                        <td width="10%">$entry.value.getFieldName()</td>
                                                        <td width="20%">
                                                            #if($entry.value.isAllProjects())${action.getText("jrole-group-usercf.cfallprojects")}
                                                                #else
                                                                    #foreach($proj in $entry.value.getProjects())
                                                                        #if($velocityCount > 1), #end${proj}
                                                                    #end
                                                            #end
                                                        </td>
                                                        <td width="40%">
                                                            #foreach($user in $entry.value.getUsers())
                                                                #if($velocityCount > 1), #end$userutils.getUser($user).getDisplayName()
                                                            #end
                                                        </td>
                                                        <td width="10%">
                                                            #if($entry.value.isAutocomplete())
                                                                <p style="color:#009933">
                                                                    <b>$action.getText("jrole-group-usercf.statuson")</b>
                                                                </p>
                                                                #else
                                                                    <p style="color:#CC0000">
                                                                        <b>$action.getText("jrole-group-usercf.statusoff")</b>
                                                                    </p>
                                                            #end
                                                        </td>
                                                        <td width="10%">
                                                            <a href="#" onclick="configureSelectedSingleField(event, '$baseUrl', '$entry.key');">$action.getText("jrole-group-usercf.cfactionconfigure")</a>
                                                        </td>
                                                    </tr>
                                                #end
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="jiraform maxWidth">
                                <tr>
                                    <td class="jiraformheader">
                                        <h3 class="formtitle">$action.getText("jrole-group-usercf.linkingmultiselfields")</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="grid maxWidth">
                                            <thead>
                                                <tr>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldid")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.customfieldname")</th>
                                                    <th width="20%">$action.getText("jrole-group-usercf.cfassociatedprojects")</th>
                                                    <th width="40%">$action.getText("jrole-group-usercf.cfusers")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfautocompletestatus")</th>
                                                    <th width="10%">$action.getText("jrole-group-usercf.cfactions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                #foreach($entry in $action.getMultiSelectedFields().entrySet())
                                                    <tr>
                                                        <td width="10%">$entry.key</td>
                                                        <td width="10%">$entry.value.getFieldName()</td>
                                                        <td width="20%">
                                                            #if($entry.value.isAllProjects())${action.getText("jrole-group-usercf.cfallprojects")}
                                                                #else
                                                                    #foreach($proj in $entry.value.getProjects())
                                                                        #if($velocityCount > 1), #end${proj}
                                                                    #end
                                                            #end
                                                        </td>
                                                        <td width="40%">
                                                            #foreach($user in $entry.value.getUsers())
                                                                #if($velocityCount > 1), #end$userutils.getUser($user).getDisplayName()
                                                            #end
                                                        </td>
                                                        <td width="10%">
                                                            #if($entry.value.isAutocomplete())
                                                                <p style="color:#009933">
                                                                    <b>$action.getText("jrole-group-usercf.statuson")</b>
                                                                </p>
                                                                #else
                                                                    <p style="color:#CC0000">
                                                                        <b>$action.getText("jrole-group-usercf.statusoff")</b>
                                                                    </p>
                                                            #end
                                                        </td>
                                                        <td width="10%">
                                                            <a href="#" onclick="configureSelectedSingleField(event, '$baseUrl', '$entry.key');">$action.getText("jrole-group-usercf.cfactionconfigure")</a>
                                                        </td>
                                                    </tr>
                                                #end
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            #else
                <div class="errorArea">$action.getText("jrole-group-usercf.admin.link.error")</div>
        #end
    </body>
</html>
