## Created by Andrey Markelov 11-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#if($canView)
    #if($canEdit)
        #if ($isautocomplete)
            #customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
            <div class="cf-multiuserpicker-autocomplete" input-id="autocomp-user-input-$customField.id" cf-id="$customField.id" issue-id="$!issue.key" cf-base-url="$baseUrl">
                <div class="ajax_autocomplete atlassian-autocomplete" id="${customField.id}_container">
                    <input class="text long-field" type="text" id="autocomp-user-input-$customField.id" autocomplete="off">
                        <div class="mail-user-picker-elements" cf-id="$customField.id" base-url="$baseUrl">
                            <select class="hidden" name="$customField.id" id="$customField.id" multiple="multiple">
                                #foreach($entry in $map.entrySet())
                                    #if($issueVal.contains(${entry.key}))
                                        <option id="${customField.id}_${entry.key}" class="mail-multiuserpicker-element" value="${entry.key}" selected="selected">${entry.key}</option>
                                    #end
                                #end
                            </select>
                        </div>
                        <div class="description">$i18n.getText("jrole-group-usercf.autocomp.hint")</div>
</div>
                </div>
                #customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
                <dl class="${customField.id}-userpicker-representation links-list long-field field-group">
                </dl>
                <br>
                    #else
                        #customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
                        <input type="hidden" name="$customField.id" value="$!selectVal" id="$customField.id" class="textfield" readonly="readonly"/>
                        <select id="mail_ru_select_$customField.id" name="mail_ru_select_$customField.id" multiple="multiple" size="$map.size()" onchange="mail_ru_change_multu_user_picker('$customField.id');">
                            #foreach($entry in $map.entrySet())
                                <option #if($issueVal.contains(${entry.key}))selected="selected"#end value="$entry.key">$entry.value</option>
                            #end
                            <option value=""> </option>
                        </select>
                        #customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
        #end
        #else
            #if($isautocomplete)
                #if ($selectVal && $selectVal != "")
                    #customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
                    <select class="hidden" name="$customField.id" id="$customField.id" multiple="multiple">
                        #foreach($entry in $map.entrySet())
                            #if($issueVal.contains(${entry.key}))
                                <option id="${customField.id}_${entry.key}" class="mail-multiuserpicker-element" value="${entry.key}" selected="selected">${entry.key}</option>
                            #end
                        #end
                    </select>
                    #customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
                    <span title="$i18n.getText("jrole-group-usercf.restricted.hint")">
                        <dl class="${customField.id}-userpicker-representation links-list long-field field-group">
                            #foreach($entry in $map.entrySet())
                                #if($issueVal.contains(${entry.key}))
                                    <dd style="background-color: #CCCCCC" class="mail_simple_user" id="internal-${customField.id}_${entry.key}">
                                        <div class="link-content">
                                            <img src="$usersAvatars.get($entry.key)" width="16" height="16" title="${entry.key} avatar" alt="${entry.key} avatar">
                                                <span title="${entry.key}: $!{entry.value}">
                                                    <a href="$baseUrl/secure/ViewProfile.jspa?name=${entry.key}" class="link-title">${entry.key}</a>
                                                    <span class="link-summary">$entry.value</span>
                                                </span>
</div>
</dd>
                                #end
                            #end
</dl>
</span>
<br>
    #else
        <select class="hidden" name="$customField.id" id="$customField.id" multiple="multiple">
            #foreach($entry in $map.entrySet())
                #if($issueVal.contains(${entry.key}))
                    <option id="${customField.id}_${entry.key}" class="mail-multiuserpicker-element" value="${entry.key}" selected="selected">${entry.key}</option>
                #end
            #end
        </select>
                #end
                #else
                    #if ($selectVal && $selectVal != "")
                        #customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
                        <input type="hidden" name="$customField.id" value="$!selectVal" id="$customField.id" class="textfield" readonly="readonly"/>
                        <span title="$i18n.getText("jrole-group-usercf.restricted.hint")">
                            <select disabled style="background-color: #CCCCCC" id="mail_ru_select_$customField.id" size="$map.size()" name="mail_ru_select_$customField.id" multiple="multiple" readonly="readonly">
                                #else
                                    <input type="hidden" name="$customField.id" value="$!selectVal" id="$customField.id" class="textfield" readonly="readonly"/>
                                    <select disabled class="hidden" id="mail_ru_select_$customField.id" name="mail_ru_select_$customField.id" multiple="multiple" onchange="mail_ru_change_multu_user_picker('$customField.id');" readonly="readonly">
                    #end	
                    #foreach($entry in $map.entrySet())
                        <option style="color:white;" #if($issueVal.contains(${entry.key}))selected="selected"#end value="$entry.key">$entry.value</option>
                    #end
                    <option value=""> </option>
                                    </select>
                                    #if ($selectVal && $selectVal != "")
</span>
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
                                    #end
            #end
    #end
    #else
        #if ($isautocomplete)
            <input class="hidden" type="text" id="autocomp-user-input-$customField.id" readonly>
                <select class="hidden" name="$customField.id" id="$customField.id" multiple="multiple" readonly>
                    #foreach($entry in $map.entrySet())
                        #if($issueVal.contains(${entry.key}))
                            <option id="${customField.id}_${entry.key}" class="mail-multiuserpicker-element" value="${entry.key}" selected="selected">${entry.key}</option>
                        #end
                    #end
                </select>
                #else
                    <input type="hidden" name="$customField.id" value="$!selectVal" id="$customField.id" class="textfield" readonly/>
                    <select class="hidden" id="mail_ru_select_$customField.id" name="mail_ru_select_$customField.id" multiple="multiple" size="5" onchange="mail_ru_change_multu_user_picker('$customField.id');">
                        #foreach($entry in $map.entrySet())
                            <option #if($issueVal.contains(${entry.key}))selected="selected"#end value="$entry.key">$entry.value</option>
                        #end
                        <option value=""> </option>
                    </select>
        #end	
#end
    