## Created by Andrey Markelov 11-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<div id="errorpart" name="errorpart"></div>
<form class="aui" id="singlesettingsselform" name="singlesettingsselform">
    <input type="hidden" name="atl_token" value="$atl_token"/>
    <input type="hidden" name="cfId" value="$cfId"/>
    <div class="field-group">
        <label for="selUsers">$i18n.getText("jrole-group-usercf.cfusers")</label>
        <select name="selUsers" id="selUsers" multiple="multiple" size="8">
            #foreach($entry in $userMap.entrySet())
                <option #if($selData.contains($entry.key))selected="selected"#end value="$entry.key">$entry.value</option>
            #end
            <option value=""> </option>
        </select>
    </div>
    <div class="field-group">
        <label for="autocomplete-flag">$i18n.getText("jrole-group-usercf.cfautocomplete")</label>
        <input name="autocomplete-flag" type="checkbox" #if($isautocomplete) checked #end />
    </div>
</form>
