## Created by Andrey Markelov 11-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
#if ($isautocomplete)
		<div class="cf-single-up-autocomplete" input-id="$customField.id" cf-id="$customField.id" issue-id="$!issue.key" cf-base-url="$baseUrl">
			<div class="ajax_autocomplete atlassian-autocomplete" id="${customField.id}_container">
				<input class="text long-field" value="$!value" type="text" name="$customField.id" id="$customField.id" autocomplete="off">
				<a href="javascript:chooseValFromNewWindow('$customField.id', '$baseUrl', '$customField.id');" class="popup-trigger">
				<img height="16" src="/jira/images/icons/filter_public.gif" title="Select value" width="16"></a>
				<div class="description">$i18n.getText("jrole-group-usercf.autocomp.hint")</div>
			</div>
		</div>
#else
    <select id="$customField.id" name="$customField.id">
        #if($highlightedUsersSorted.isEmpty() || $otherUsersSorted.isEmpty())
            #foreach($entry in $highlightedUsersSorted.entrySet())
                <option #if($value && $entry.key == $value)selected="selected"#end value="$entry.key">$entry.value</option>
            #end
            #foreach($entry in $otherUsersSorted.entrySet())
                <option #if($value && $entry.key == $value)selected="selected"#end value="$entry.key">$entry.value</option>
            #end
            <option #if(!$value)selected="selected"#end></option>
        #else
            <optgroup label="Suggestions">
                #foreach($entry in $highlightedUsersSorted.entrySet())
                    <option #if($value && $entry.key == $value)selected="selected"#end value="$entry.key">$entry.value</option>
                #end
            </optgroup>
            <optgroup label="All users">
                #foreach($entry in $otherUsersSorted.entrySet())
                    <option #if($value && $entry.key == $value)selected="selected"#end value="$entry.key">$entry.value</option>
                #end
                <option #if(!$value)selected="selected"#end></option>
            </optgroup>
        #end
    </select>
#end
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
