#disable_html_escaping()
#if ($value)
#if ($urlPrefix && $urlPrefix != '')
<a href="${urlPrefix}">$textutils.htmlEncode($value.displayName)</a>
#else
$cfValueEncoder.encodeForHtml($value.displayName)
#end
#end